/* SCSS RGB */
$pine-green: #157a6eff;
$black-coffee: #3a3238ff;
$maximum-blue-purple: #b8b3e9ff;
$bone: #dad2bcff;
$cultured: #f6f7f8ff;

.login-view{
  margin-top:30px;
}

.login-button {
  background-color: $maximum-blue-purple !important;
  border-color: $black-coffee !important;
  color: $black-coffee !important;
  margin: 20px;
}